body {
    background-image: url("https://images.pexels.com/photos/988872/pexels-photo-988872.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    text-align:center;
    color: white;
   
    
}

.card-body  {
    background-color: rgb(109, 115, 185);
    margin:150px;
    padding: 75px;
    height: 400px;
    border-radius:15px;
}

#CoachBtn {
    -webkit-box-sizing: border-box !important;
    box-sizing: border-box !important;
    border-style: solid;
    border-color: white;
    border-width: 1px;
    float: none !important;
    height: 50px;
    width: 650px !important;
    background-color: white;
    font-size: 25px;
}

#BaeBtn {
    -webkit-box-sizing: border-box !important;
    box-sizing: border-box !important;
    border-style: solid;
    border-color: white;
    border-width: 1px;
    float: none !important;
    height: 50px;
    width: 650px !important;
    background-color: #9d93c6;
    font-size: 25px;
}
