
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/StyleSheet1.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <title>DoLogin</title>
</head>
<body>
    <div>

        <div class="card-body" id="LoginBox" >           
            <div class="container" id="box1">
                <h2>Please sign into your BaeCoach Account</h2>
                <label class="label label-default" style="float:left; font-size:large">Email:</label><input type="email" class="form-control" required />
                <br />
                <label class="label label-default" style="float:left; font-size:large">Password:</label><input type="password" class="form-control" required />
                <br />
                <div id="buttonRight">
                    <input type="submit" value="Login" class="btn" id="btn" />
                    <input type="submit" value="Sign Up" class="btn" id="btn" />


                </div>
            </div>
        </div>
    </div>
</body>
</html>
