
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/ApplicationStyle.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Titillium+Web:400,400i,600,600i,700,700i,900">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i,700,700i,800,800i">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <!-- icofont -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionic/1.3.2/css/ionic.css">
    <!-- carousel -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.css">
    <style>
            /*img{
            height: 300px;
            width: 200px;
        }*/
    </style>

    <title>Home</title>
</head>
<body>
    <div>
        <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">BaeCoach</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav w-100">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Coaches <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">History</a>
                    </li>
                    @*<li class="nav-item">
                            <a class="nav-link" href="#">Pricing</a>
                        </li>*@
                    <li class="nav-item dropdown ml-auto">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="glyphicon glyphicon-user"></span>
                        </a>
                        <div class="dropdown-content" aria-labelledby="navbarDropdownMenuLink" style="right:0">
                            <a class="dropdown-item" href="#">Log Out</a>
                            <a class="dropdown-item" href="#">Edit Profile</a>

                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <br /><br /><br /><br />
    <div style="text-align:center; font-family: Georgia;">
        <br />
        <h1>Welcome to BaeCoach!</h1>
        <h4>Select a topic to start.</h4>
    </div>
    <section class="blog_section">
        <div class="container">
            <div class="blog_content">
                <div class="owl-carousel owl-theme">
                    <div class="blog_item">
                        <div class="blog_image">
                            <img class="img-fluid" src="https://www.addictioncenter.com/app/uploads/2018/09/AdobeStock_175229643.jpeg" alt="images not found">
                        
                        </div>
                        <div class="blog_details">
                            <div class="blog_title">
                                <h5>Alcholism</h5>
                            </div>
                            <a href="#">Read posts<i class="icofont-long-arrow-right"></i></a>
                        </div>
                    </div>
                    <div class="blog_item">
                        <div class="blog_image">
                            <img class="img-fluid" src="https://www.helpguide.org/wp-content/uploads/2018/11/abuse-500.jpg " alt="images not found">
                            
                        </div>
                        <div class="blog_details">
                            <div class="blog_title">
                                <h5>Abuse</h5>
                            </div>
                            <a href="#">Read posts<i class="icofont-long-arrow-right"></i></a>
                        </div>
                    </div>
                    <div class="blog_item">
                        <div class="blog_image">
                            <img class="img-fluid" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS2uK2DHWh4ml-mz1Buq-FEZU6Uev8_yNVkeTSbxzXSATaBY_KkfQ" alt="images not found">
                           
                        </div>
                        <div class="blog_details">
                            <div class="blog_title">
                                <h5>Bad Communication</h5>
                            </div>
                            <a href="#">Read Posts<i class="icofont-long-arrow-right"></i></a>
                        </div>
                    </div>
                    <div class="blog_item">
                        <div class="blog_image">
                            <img class="img-fluid" src="https://markmanson.net/wp-content/uploads/2015/04/cheating.jpg" alt="images not found">
                           
                        </div>
                        <div class="blog_details">
                            <div class="blog_title">
                                <h5>Cheating</h5>
                            </div>
                            <a href="#">Read posts<i class="icofont-long-arrow-right"></i></a>
                        </div>
                    </div>
                    <div class="blog_item">
                        <div class="blog_image">
                            <img class="img-fluid" src="https://www.nationaldebtrelief.com/wp-content/uploads/2013/07/How-To-Use-Financial-Management-As-A-Debt-Solution.jpeg" alt="images not found">
                           
                        </div>
                        <div class="blog_details">
                            <div class="blog_title">
                                <h5>Finanacial Problems</h5>
                            </div>
                            <a href="#">Read posts<i class="icofont-long-arrow-right"></i></a>
                        </div>
                    </div>
                    <div class="blog_item">
                        <div class="blog_image">
                            <img class="img-fluid" src="https://nationalpostcom.files.wordpress.com/2019/01/addict.jpg?quality=80&strip=all&w=780" alt="images not found">
                            
                        </div>
                        <div class="blog_details">
                            <div class="blog_title">
                                <h5>Addiction</h5>
                            </div>
                            <a href="#">Read posts<i class="icofont-long-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Jquery -->
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <!-- bootstrap -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <!-- carousel -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.js"></script>

    @*<center>
            <div id="UserTopics">
                <h2>Select A Topic And Join The Conversation.</h2>
                <br />
                <center>

                    <div class="col-sm-12 col-md-3 col-lg-4">
                        <div class="card" id="card">
                            <div class="card-body">
                                <div class="card-header" id="card-header">Relationship Boundries</div>
                                <br />
                                <p class="card-text">Your partner not giving you enough space? </p>
                            </div>
                        </div>
                    </div>


                    <div class="col-sm-12 col-md-3  col-lg-4">
                        <div class="card" id="card">
                            <div class="card-body">
                                <div class="card-header" id="card-header">Relationship Fears</div>
                                <br />
                                <p class="card-text">Im I just Silly? Why do I Feel like this? </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12 col-md-3  col-lg-4">
                        <div class="card" id="card">
                            <div class="card-body">
                                <div class="card-header" id="card-header">Fighting Styles</div>
                                <br />
                                <p class="card-text">Are You Fighting Dirty?</p>
                            </div>
                        </div>
                    </div>



                    <div class="col-sm-12 col-md-3  col-lg-4">
                        <div class="card" id="card">
                            <div class="card-body">
                                <div class="card-header" id="card-header">Children</div>
                                <br />
                                <p class="card-text">Tiny People running around...Yes Or No.</p>
                            </div>
                        </div>
                    </div>


                    <div class="col-sm-12 col-md-3  col-lg-4">
                        <div class="card" id="card">
                            <div class="card-body">
                                <div class="card-header" id="card-header">Alone Time</div>
                                <br />
                                <p class="card-text">Are you spending enough time appart?</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12 col-md-3  col-lg-4">
                        <div class="card" id="card">
                            <div class="card-body">
                                <div class="card-header" id="card-header">Emotional Intelegence</div>
                                <br />
                                <p class="card-text">Im Stuggeling to understand other people...</p>
                            </div>
                        </div>
                    </div>
                </center>
            </div>
        </center>*@


</body>
</html>
<script>
    $('.owl-carousel').owlCarousel({
        loop: true,
        margin: 10,
        dots: false,
        nav: true,
        autoplay: true,
        smartSpeed: 3000,
        autoplayTimeout: 7000,
        responsive: {
            0: {
                items: 1
            },
            600: {
                items: 2
            },
            1000: {
                items: 3
            }
        }
    })
</script>