
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/ApplicationStyle.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <title>Home</title>
</head>
<body>
    <center>
        <div id="block">
            <h3>Select A Topic And Join The Conversation.</h3>
            <div class="grid-container">
                <div class="grid-item">
                </div>
                <div class="grid-item">
                </div>
            </div>
        </div>
    </center>
</body>
</html>