
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/ApplicationStyle.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <title>Home</title>
</head>
<body>
    <div>
        <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">BaeCoach</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav w-100">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Coaches <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">History</a>
                    </li>
                    @*<li class="nav-item">
                            <a class="nav-link" href="#">Pricing</a>
                        </li>*@
                    <li class="nav-item dropdown ml-auto">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="glyphicon glyphicon-user"></span>
                        </a>
                        <div class="dropdown-content" aria-labelledby="navbarDropdownMenuLink" style="right:0">
                            <a class="dropdown-item" href="#">Log Out</a>
                            <a class="dropdown-item" href="#">Edit Profile</a>

                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </div>

    <center>
        <div id="UserTopics">
            <h2>Select A Topic And Join The Conversation.</h2>
            <br />
            <center><div class="grid-container">
                <div class="grid-item">
                    <div class="card" id="card">
                        <div class="card-body">
                            <div class="card-header" id="card-header">Relationship Boundries</div>
                            <br />
                            <p class="card-text">Your partner not giving you enough space? </p>
                        </div>
                    </div>
                </div>

            


                <div class="grid-item">
                    <div class="card" id="card">
                        <div class="card-body">
                            <div class="card-header" id="card-header">Relationship Fears</div>
                            <br />
                            <p class="card-text">Im I just Silly? Why do I Feel like this? </p>
                        </div>
                    </div>
                </div>


                <div class="grid-item">
                    <div class="card" id="card">
                        <div class="card-body">
                            <div class="card-header" id="card-header">Fighting Styles</div>
                            <br />
                            <p class="card-text">Are You Fighting Dirty?</p>
                        </div>
                    </div>
                </div>

                <div class="grid-item">
                    <div class="card" id="card">
                        <div class="card-body">
                            <div class="card-header" id="card-header">Children</div>
                            <br />
                            <p class="card-text">Tiny People running around...Yes Or No.</p>
                        </div>
                    </div>
                </div>


                <div class="grid-item">
                    <div class="card" id="card">
                        <div class="card-body">
                            <div class="card-header" id="card-header">Alone Time</div>
                            <br />
                            <p class="card-text">Are you spending enough time appart?</p>
                        </div>
                    </div>
                </div>

                <div class="grid-item">
                    <div class="card" id="card">
                        <div class="card-body">
                            <div class="card-header" id="card-header">Emotional Intelegence</div>
                            <br />
                            <p class="card-text">Im Stuggeling to understand other people...</p>
                        </div>
                    </div>
                </div>
            </div></center>
        </div>
    </center>
</body>
</html>