
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href="C:\Users\Annie\OneDrive\TUKS\Year 2\INF272\Assignment\BaeCoach\BaeCoach\BaeCoach\BaeCoach\Views\BaeCoach\Main.css" rel="stylesheet" type="text/css">
    
    
    <title>Login</title>
</head>
<body id="login" style="background: linear-gradient(45deg, rgb(109, 115, 185), transparent), repeating-linear-gradient(45deg, rgb(157, 147, 198) 0%, rgb(157, 147, 198,0.8) 5%, transparent 5%, transparent 10%), rgb(261,118,255 ) repeating-linear-gradient(-45deg, rgb(187, 177, 227,0.5) 0%, rgb(187, 177, 227,0.5) 5%, transparent 5%, transparent 10% )
">
    <div id="box">
        <div class="card-body" id="card">
            <h1>Welcome to BaeCoach!</h1>
            <h3>How do you identify?</h3>
            <p>Please choose a profile type to log in with:</p>
            <center>

                <div class="btn-group"
               
                        <button type="submit" class="BeaButton">Bae</button>
                        <br />
                        <button type="submit" class="CoachButton">Coach</button>
                </div>
                


            </center>
        </div>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>
