
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/ApplicationStyle.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <title>TopicSelect</title>
</head>
<body>
    <center>
        <div id="block">
            <h3>What Are you here for?</h3>
            <p>Pick 6 topics</p>
       
            <center>
                <div id="content">
                    <form>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <input type="checkbox">
                                </div>
                            </div>
                            <input type="text" class="form-control" placeholder="Intimacy">
                        </div>

                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <input type="checkbox">
                                </div>
                            </div>
                            <input type="text" class="form-control" placeholder="Relationship Boundries">
                        </div>

                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <input type="checkbox">
                                </div>
                            </div>
                            <input type="text" class="form-control" placeholder="Relationship Needs">
                        </div>

                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <input type="checkbox">
                                </div>
                            </div>
                            <input type="text" class="form-control" placeholder="Relationship Fears">
                        </div>

                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <input type="checkbox">
                                </div>
                            </div>
                            <input type="text" class="form-control" placeholder="Fighting Styles">
                        </div>

                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <input type="checkbox">
                                </div>
                            </div>
                            <input type="text" class="form-control" placeholder="Spending Habits">
                        </div>

                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <input type="checkbox">
                                </div>
                            </div>
                            <input type="text" class="form-control" placeholder="Children">
                        </div>

                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <input type="checkbox">
                                </div>
                            </div>
                            <input type="text" class="form-control" placeholder="Alone Time">
                        </div>

                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <input type="checkbox">
                                </div>
                            </div>
                            <input type="text" class="form-control" placeholder="Work-Life Balance">
                        </div>

                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <input type="checkbox">
                                </div>
                            </div>
                            <input type="text" class="form-control" placeholder="Emotional Intelegence">
                        </div>

                    </form>
                </div>
            </center>
        </div>
    </center>
</body>
</html>
