
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/ApplicationStyle.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <title>TopicSelect</title>
</head>
<body>
    <div>
        <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="@Url.Action("Home", "BaeCoach")">BaeCoach</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav w-100">

                    <li class="nav-item dropdown ml-auto">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="glyphicon glyphicon-user"></span>
                        </a>
                        <div class="dropdown-content" aria-labelledby="navbarDropdownMenuLink" style="right:0">
                            <a class="dropdown-item" href="@Url.Action("DoLogin", "BaeCoach")">Log Out</a>
                            <a class="dropdown-item" href="@Url.Action("UpdateProfile", "BaeCoach")">Edit Profile</a>


                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <center>
        <div id="block">
            <h3>What Are you here for?</h3>
            <p>Pick 6 topics</p>

            <center>
                <div id="content">
                    <form>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <input type="checkbox">
                                </div>
                            </div>
                            <input type="text" class="form-control" placeholder="Intimacy">
                        </div>

                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <input type="checkbox">
                                </div>
                            </div>
                            <input type="text" class="form-control" placeholder="Relationship Boundries">
                        </div>

                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <input type="checkbox">
                                </div>
                            </div>
                            <input type="text" class="form-control" placeholder="Relationship Needs">
                        </div>

                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <input type="checkbox">
                                </div>
                            </div>
                            <input type="text" class="form-control" placeholder="Relationship Fears">
                        </div>

                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <input type="checkbox">
                                </div>
                            </div>
                            <input type="text" class="form-control" placeholder="Fighting Styles">
                        </div>

                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <input type="checkbox">
                                </div>
                            </div>
                            <input type="text" class="form-control" placeholder="Spending Habits">
                        </div>

                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <input type="checkbox">
                                </div>
                            </div>
                            <input type="text" class="form-control" placeholder="Children">
                        </div>

                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <input type="checkbox">
                                </div>
                            </div>
                            <input type="text" class="form-control" placeholder="Alone Time">
                        </div>

                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <input type="checkbox">
                                </div>
                            </div>
                            <input type="text" class="form-control" placeholder="Work-Life Balance">
                        </div>

                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <input type="checkbox">
                                </div>
                            </div>
                            <input type="text" class="form-control" placeholder="Emotional Intelegence">
                        </div>
                        <input type="submit" value="Submit" class="btn btn-light" id="submit" />
                    </form>
                </div>


            </center>
        </div>
    </center>
</body>
</html>
