

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/StyleSheet1.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <title>BaeUpdateProfile</title>
</head>
<body>
    <center>
        <div id="element">
            <div class="card-body1">
                <h3>Update Profile</h3>
                <p>Please provide the necessary details below. </p>


                <div class="grid-container">
                    <div class="grid-item">

                        <lable>Name:</lable><input type="text" class="form-control" id="Name" required />
                        <lable>Surname:</lable><input type="text" class="form-control" id="Surname" required />
                        <lable>Username:</lable><input type="text" class="form-control" id="Username" required />
                        <lable>Email:</lable><input type="email" class="form-control" id="Email" required />
                        <lable>Password:</lable><input type="password" class="form-control" id="Password" required />

                        <lable>Country:</lable><select class="form-control" id="Country" required>
                            <option>Populate from database</option>
                        </select>

                        <lable>Provice:</lable><select class="form-control" id="Provice" required>
                            <option>Populate from database</option>
                        </select>

                        <lable>City:</lable><select class="form-control" id="City" required>
                            <option>Populate from database</option>
                        </select>
                    </div>

                    <div class="grid-item">
                        <lable for="Title">Title:</lable><select class="form-control" id="Title" style="width:40%; float:right" required>
                            <option>Mr.</option>
                            <option>Mrs.</option>
                            <option>Miss.</option>
                            <option>Dr.</option>
                            <option>Mx.</option>
                            <option>Prefer not to say</option>
                        </select>
                        <br />

                        <div class="grid-item">
                        </div>
                        <br />
                        <div class="grid-item">
                            <lable for="Gender">Gender:</lable><select class="form-control" id="Gender" style="width:40%; float:right " required>
                                <option>Male</option>
                                <option>Female</option>
                                <option>Other</option>
                                <option>Prefer not to say</option>
                            </select>
                            <br />
                        </div>
                        <br />
                        <div class="grid-item">
                        </div>
                        <div class="grid-item">
                            <lable for="RelationshipStatus">Relationship Status:</lable><select class="form-control" id="RelationshipStatus" style="width:40%; float:right" required>
                                <option>Married</option>
                                <option>In A Relationship</option>
                                <option>Single</option>
                                <option>Its Complicated</option>
                            </select>
                        </div>
                    </div>

                </div>
                <div>
                    <input type="submit" class="btn" id="buttonRight" value="Submit" />
                </div>
            </div>
        </div>
    </center>
</body>
</html>

