@*@model BaeCoach.ViewModel*@

    @{
        Layout = null;
    }

    <!DOCTYPE html>

    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <link href="~/ApplicationStyle.css" rel="stylesheet" />
        <script src="~/JS/JavaScript.js"></script>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

        <title>UserFeed</title>
    </head>
    <body>
            <div>
                <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
                    <a class="navbar-brand" href="@Url.Action("Home", "BaeCoach")">BaeCoach</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNavDropdown">
                        <ul class="navbar-nav w-100">

                            <li class="nav-item dropdown ml-auto">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class="glyphicon glyphicon-user"></span>
                                </a>
                                <div class="dropdown-content" aria-labelledby="navbarDropdownMenuLink" style="right:0">
                                    <a class="dropdown-item" href="@Url.Action("DoLogin", "BaeCoach")">Log Out</a>
                                    <a class="dropdown-item" href="@Url.Action("UpdateProfile", "BaeCoach")">Edit Profile</a>

                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
            <center>
                <a class=" btn btn-light" href="#"><i class="fa fa-plus"></i></a>
                <a class="btn btn-light" href="#">Back</a>
            </center>
            <div class="carousel slide" id="mySlider" data-ride="carousel">

                <div class="carousel-inner">
                    @*@foreach (var Post in Model.prevPosts)
                    {*@
                        <div class="carousel-item active">
                            <img id="TopicImages" src="" alt="image" />
                            <div class="carousel-caption justify-content-center align-items-center ">
                                <h1 id="carousel-text">@*@Model.currentTopic.TopicName*@</h1>
                                <h3 id="carousel-text">@*@Model.aPost.PostText*@</h3>
                            </div>
                        </div>
                    @*}*@
                    <a class="left carousel-control" href="#mySlider" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>

                    <a class="right carousel-control" href="#mySlider" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>

                </div>
            </div>

</body>
</html>
