
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link href="~/StyleSheet1.css" rel="stylesheet" />


    <title>Login</title>
</head>
<body>
    <div id="box">
        <div class="card-body">
            <h1>Welcome to BaeCoach!</h1>
            <h3>How do you identify?</h3>
            <p>Please choose a profile type to log in with:</p>
            <center>

                <div class="mask flex-center rgba-blue-light">
                    <div class="view overlay">
                        @using (Html.BeginForm("Create", "myUsers",FormMethod.Get))
                        {
                            <button type="submit" style="border-top-left-radius:10px; border-top-right-radius:10px;"
                                    class="tve-froala" id="BaeBtn" title="A Bea is a User that posts entries for the
                                puropse of seeking advice.">
                                Bae
                            </button>
                        }
                        <br /><br />
                        @using (Html.BeginForm("Create", "Coaches",FormMethod.Get))
                        {
                            <button type="submit" style="border-bottom-left-radius:10px; border-bottom-right-radius:10px; "
                                    class="tve-froala" id="CoachBtn" title="A Coach is a medical professional that advices
                                Bae's by responding to their entries. NB: You must be a certified professional to apply
                                for this option.">
                                Coach
                            </button>
                        }

                        </div>
                </div>
            </center>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>
